body {
  font-family: "Avenir Next";
}
  
.header{
  
}

.header-logo {
  font-size: 25px;
  padding:40px 190px;
  margin:30px 20px;
  background-color:green;
  color:white;
}

.copy-container h1 {
  font-size: 49px;
  margin:30
}

.copy-container span {
  color:brown;
}

.contents h2 {
  font-size:25px;
  border:3px dotted blue;
}

.contents li{
  list-style:none;
  font-size:16px;
}
